.tag-chip-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tag-chip {
    margin: 1% 1%;
}

.mat-mdc-standard-chip {
    border-radius: 10px;
}

.block-icon {
    cursor: not-allowed;
    color: darkgray;
}

.delete-icon {
    color: #e74545;
}

.mat-column-edit,
.mat-column-delete {
    max-width: 10vw;
}

.mat-column-key {
    max-width: 20vw;
}
