<div class="container tab-spacing">
  <div class="primary-color title">Bulk upload tags</div>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="primary-color"
        >CSV File Structure: ensure your CSV adheres to the following
        structure</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <b>{{ fields.header }}</b>
      <pre>{{ fields.rows }}</pre>

      <p><b>Note:</b> location and tagKeys can be empty for some resources.</p>
    </mat-card-content>
  </mat-card>
  <mat-slide-toggle class="clear-toggle" [(ngModel)]="clean_tags"
    >Clear tags</mat-slide-toggle
  >

  <div class="inner-container">
    @if (loading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
      <!-- Response -->
      @if (response) {
        <div class="response">
          @for (item of response | keyvalue; track item.key) {
            <div class="item">
              <b>Resource:</b> {{ item.key }}
              <br />
              <b>Location:</b>
              {{ item.value.location }}

              <!-- Show tags -->
              @for (value of item.value.value | keyvalue; track value.key) {
                <div>{{ value.key }}: {{ value.value }}</div>
              }

              <!-- Success or fail staus and message -->
              @if (!item.value.success) {
                <div class="error"><b>Error</b>: {{ item.value.details }}</div>
              } @else {
                <div class="success">
                  <b>Success</b>
                </div>
              }
            </div>
          }
        </div>
      }

      <!-- File upload  -->
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />

      <button
        mat-flat-button
        color="primary"
        (click)="fileUpload.click()"
        class="upload"
      >
        Upload CSV
      </button>
    }
  </div>
</div>
