<div class="container">
  <div class="primary-color title">Bulk upload labels</div>
  <div>
    <mat-form-field>
      <mat-label>Resource Type</mat-label>
      <mat-select [(value)]="chosenType">
        @for (type of types; track type) {
          <mat-option [value]="type.value">{{ type.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  @if (chosenType) {
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title class="primary-color"
          >CSV File Structure: ensure your CSV adheres to the following
          structure</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <b>{{ fields[chosenType].header }}</b>
        <pre>{{ fields[chosenType].rows }}</pre>
      </mat-card-content>
    </mat-card>
  }
  <mat-slide-toggle class="clear-toggle" [(ngModel)]="clean_labels"
    >Clear labels</mat-slide-toggle
  >

  <div class="inner-container">
    @if (loading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
      <!-- Response -->
      @if (response) {
        <div class="response">
          @for (item of response | keyvalue; track item.key) {
            <div class="item">
              <b>Project:</b> {{ item.key }}

              <!-- Show labels -->
              @for (value of item.value.value | keyvalue; track value.key) {
                <div>{{ value.key }}: {{ value.value }}</div>
              }

              <!-- Success or fail staus and message -->
              @if (!item.value.success) {
                <div class="error"><b>Error</b>: {{ item.value.details }}</div>
              } @else {
                <div class="success">
                  <b>Success</b>
                </div>
              }
            </div>
          }
        </div>
      }

      <!-- File upload  -->
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />

      <button
        mat-flat-button
        color="primary"
        (click)="fileUpload.click()"
        class="upload"
        [disabled]="!chosenType"
      >
        Upload CSV
      </button>
    }
  </div>
</div>
