<div class="edit-dialog">
  <h2 mat-dialog-title>Editing tags for {{ data.resource.name }}</h2>
  <mat-dialog-content>
    <!-- Attached tags  -->
    <app-tag-binding-edit
      [tagBindings]="data.resource.tags"
      [availableTags]="data.availableTags"
      (tags)="data.resource.tags = $event"
      (valid)="valid = $event"
    />
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    @if (saving) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
      <button mat-button color="primary" [disabled]="!valid" (click)="save()">
        Save
      </button>
      <button mat-button mat-dialog-close>Close</button>
    }
  </mat-dialog-actions>
</div>
