<div class="edit-dialog">
  <h2 mat-dialog-title>Create a new tag</h2>
  <mat-dialog-content>
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Key name</mat-label>
        <input type="text" matInput [formControl]="nameControl" />
        @if (
          nameControl.hasError("takenKey") && !nameControl.hasError("required")
        ) {
          <mat-error>This key name is already taken.</mat-error>
        }
        @if (nameControl.hasError("required")) {
          <mat-error>Key is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input type="text" matInput [formControl]="descriptionControl" />
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    @if (saving) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
      <button
        mat-button
        color="primary"
        [disabled]="nameControl.invalid"
        (click)="save()"
      >
        Create
      </button>
      <button mat-button mat-dialog-close>Close</button>
    }
  </mat-dialog-actions>
</div>
