iframe {
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml;utf8,<svg width='55' height='55' viewBox='0 0 55 55' xmlns='http://www.w3.org/2000/svg'><path d='M25 5A20 20 0 1 1 5 25' style='stroke:%234285F4;stroke-width:4.5;fill:none;'><animateTransform attributeName='transform' attributeType='XML' type='rotate' from='0 25 25' to='360 25 25' dur='1s' repeatCount='indefinite'/></path></svg>");
    background-position: center;
    background-repeat: no-repeat;
}
